{% extends "base.html.twig" %}

{% block title %}session{% endblock %}

{% block body %}
    <li><a href="{{ path('card_deck') }}">Deck</a></li>
    <li><a href="{{ path('shuffle_deck') }}">Shuffle deck</a></li>
    <li><a href="{{ path('cardDraw') }}">Draw cards</a></li>
    <li><a href="{{ path('session_delete') }}">Delete session</a></li>
    <li><a href="{{ path('session') }}">session</a></li>
{% endblock %}